<%layout("/layouts/boilerplate.ejs")%>
<body>
    <h3> All Hotels Name </h3>
    <form action="/listing/new" method="get">
        <button>Add new Listing</button>
    </form>
    <%for(let listing of alllisting)
    {%>
        <ul>
            <li><a href="/listing/<%=listing._id%>"><%=listing.title%></a></li>
            <li><a href="/listing/<%=listing._id%>"><%=listing.title%></a></li>
        </ul>
    <%}%>
</body>
